        /*
        #222629 Black
        #474B4F Grey
        #6B6E70 lighter grey
        #61892F Darker green
        #86C232 Lighter green
        */
body {
    background-color: #222629;
}

.logo {
    color: #86C232;
    font-size: 24px;
}


.intro-heading {
    padding-top: 10%;
    color: #61892F;
    font-family: 'Quicksand', sans-serif;
    font-size: 64px;
}

.intro {
    padding-top: 5%;
    color: white;
    font-size: 24px;
}

.subject-header {
    color: #86C232;
    padding-bottom: 2%;
    font-size: 48px;
}

.subject-description {
    color: white;
    padding-bottom: 1%;
    font-size: 20px;
}

header {
    height: 100vh;
}

.skills-list {
    color: white;
}

.learn-more {
    color: #61892F !important; 
    border-color: #61892F; 
    margin-bottom: 10%;
    border-radius: 4px;
}

a {
    color: #61892F;
}

a.nav-link {
    color: white;
}

a:hover {
    color: #86C232 !important;
  }
  
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 23%;
    margin-left: 0;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}